#s_signup .signup-form{
	width: 300px;
	margin:0 auto;
	text-align:center;
	padding-top:160px;

}

#s_signup .button-back{
	float:left;
	width: 100px;
	text-align:center;
	margin-left: 64px;
}
#s_signup .tologin{
	float:left;
	margin-left: 20px;
	padding-top: 170px;
}
#s_signup .tologinbutton{
	margin-bottom:-20px;
	/*padding-top: 170px;*/
}
#s_signup .clear{
	clear: both;
}