#s_login .form-back{
	width:100%;
	/*height:80px;*/
	padding-top:190px;
}


#s_login .login-form{
	margin:0 auto;
	/*width:200px;*/
	text-align:center;
}


#s_login .user-button-back{
	float:left;
	width: 100px;
	text-align:center;
	margin-left: 70px;
}

#s_login .tosignup{
	float:left ;
	margin-left: 30px;
}

#s_login .clear{
	clear: both;

}