
009688
<ons-splitter>
  <ons-splitter-side var="menu" side="left" width="80%" collapse swipeable>
    <ons-page modifier="material" ng-controller="MenuController as menu" style="background-color:white;">
      <ons-list modifier="material">
        <ons-list-header modifier="material">Menu</ons-list-header>
        <ons-list-item modifier="material" ng-click="menu.logout()" >
          ログアウト
        </ons-list-item>
        <ons-list-item modifier="material" onclick="app.navi.resetToPage('home/index.html')">
            home
        </ons-list-item>
        <ons-list-item  modifier="material" ng-click="pushPage('')">
            infrared
        </ons-list-item>
        <ons-list-item  modifier="material" ng-click="pushPage('')">
        a
        </ons-list-item>
        <ons-list-item  modifier="material" ng-click="pushPage('')">
        b
        </ons-list-item>
        <ons-list-item  modifier="material" ng-click="pushPage('')">
        c
        </ons-list-item>
        <ons-list-item  modifier="material" ng-click="pushPage('')">
        c
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <ons-splitter-content page="home/index.html"></ons-splitter-content>
</ons-splitter>
<ons-template id="home/index.html">
    <ons-toolbar modifier="material">
      <div class="left">
        <ons-toolbar-button ng-click="menu.open()" modifier="material">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">Switch</div>
      <div class="temperature-back">
      </div>
    </ons-toolbar>
  <ons-page modifier="material" ng-controller="InfraredGroupController as ir" id ="s_group_list">
    <ons-list modifier="material" class="s_list">
      <ons-list-header modifier="material">赤外線グループ一覧</ons-list-header>
      <ons-list-item modifier="material" id="group-{{group.id}}"  class="infrared_group" ng-repeat="group in infraredGroupModel.groups"style="padding:0;">
      <div ng-if="group.name == 'すべて'" >
        <div style="display:inline-block;width:80%; padding-top:10px;padding-bottom:10px;padding-left:20px" ng-click="app.navi.pushPage('infrared/index.html', {group: group})"
          >
            {{ group.name || 'Untitled item' }}
          </div>
 <!--        <ons-carousel style="width: 100%; height: 25px" >
          <ons-carousel-item ng-click="app.navi.pushPage('infrared/index.html', {group: group})"
          >
            {{ group.name || 'Untitled item' }}
          </ons-carousel-item>
        </ons-carousel> -->

      </div>
      <div ng-if="group.name != 'すべて'" >
          <div style="display:inline-block;width:80%; padding-top:10px;padding-bottom:10px;padding-left:20px" ng-click="app.navi.pushPage('infrared/index.html', {group: group})"
          >
            {{ group.name || 'Untitled item' }}
          </div>
        <ons-carousel swipeable style="display:inline-block; width:18%; position:absolute;top:0;right:0; bottom:0;" item-width="100%" >
          <ons-carousel-item>
          </ons-carousel-item>
          <ons-carousel-item class="carouselslide">
             <ons-icon style="padding-left:5px;padding-right:3px; color:#009688;"icon="ion-compose"size="23px" ng-click='ir.rename(infrared)'></ons-icon>
            <ons-icon style="color:#009688;"icon="ion-ios-trash" ng-click="ir.delete(group,$index)" size="23px"></ons-icon>
          </ons-carousel-item>
        </ons-carousel>
      </div>
      </ons-list-item>

    </ons-list>

    <ons-fab position="bottom right" ng-click="ir.newIrGroup()">
      <ons-ripple color="rgba(255, 255, 255, 0.2)"></ons-ripple>
      <ons-icon icon="md-plus" size="24px" style="line-height: 56px;"></ons-icon>
    </ons-fab>
  </ons-page>
</ons-template>

