#s_group_list .s_list{
	width:100%;
	margin:0 auto;
	background-color:#C2EACA;
}

#s_group_list .s_list .infrared_group{
	box-shadow: 1.5px 1px 1px 0.2px;
	/*margin-top:8px;*/
	background-color:rgb(240,240,240);
	width:80%;
	margin:8px auto;

}
#s_group_list .carouselslide{
	position:absolute;
	width:100%;
	visibility:visible;
	left:100%;
	transform: translate3d(-54px,0px,0px);
	height:22px;
	padding-top:15px;
	padding-bottom:15px;
	
}
#s_group_list .temperature-back{
	height:20px;
	background-color:black;
	width:100%;
}

