#s404 .error-form{
	margin: 0 auto;
	width:100%;
	height: 100%;
}

#s404 .logo img{
	width:220px;
}

#s404 .logo{
	padding-top: 60px;
	padding-bottom:40px;
	width:220px;
	margin: 0 auto;
}
#s404 .set_message{
	margin-top:30px;
	width:300px;
	margin: 0 auto;
	padding-bottom:20px;
}

#s404 .set_message p{
	text-align:center;
}	


#s404 .input-form{
	margin: 0 auto;
	width: 250px;
}



#s404 .go-button{
	margin-left:290px;
}

